<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title", false)</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/myDesign.js"></script>
    <script src="~/Scripts/AutoSearch.js"></script>
    @RenderSection("scripts", false)

    <link href="~/Contents/font-awesome.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap.css" rel="stylesheet" />
    <link href="~/Contents/style.css" rel="stylesheet" />

</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#searchtxt").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/AdminSearch/LiveSearch",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.productName, value: item.productName };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>  

    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Admin/Index"><span class="glyphicon glyphicon-home fa-2x"></span></a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">
                            <i class="fa fa-user-secret"></i>&nbsp; admin
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#"><i class="fa fa-pencil fa-fw"></i> Edit Password</a>
                            <a href="/userAuthentication/LogOut/"><i class="fa fa-sign-out"></i> LogOut</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <br />
        @using (Html.BeginForm("Index", "AdminSearch"))
        {
            <div class="container">
                <div class="input-group">
                    <input type="text" id="searchtxt" name="nameSearch" class="form-control" placeholder="Search" required />
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        }
        <br />

        <div class="headline-big-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="headline-bit-title text-center">
                            <h2>@RenderSection("header", false)</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        
        @RenderBody()

    </div>
</body>
</html>